@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}
/* For Scroll Bar Styling */
::-webkit-scrollbar {
    width: 10px;
}
  /* Track */
::-webkit-scrollbar-track {
    background: #050f1f;
}

  /* Handle */
::-webkit-scrollbar-thumb {
    background: #00327c;
    border-radius: 33px;
    transition: ease-in-out .3s;
}

  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #0066ff;
}

::-webkit-scrollbar-corner {
    background: #050f1f;
}


body{
    height: 100vh;
    background: #02031b;
    color: #ffffff;
    font-size: 20px;
}

#app{
    /* grid-template-columns:  */
    width: 100%;
    display: grid;
    align-items: center;
}

.holder{
    padding: 25px;
    font-weight: bolder;
}

.entry{
    padding: 25px;
}

.content {
    font-size: 1.5em;
    padding-bottom: 25px;
    padding-top: 25px;
    font-weight: bolder;
}

.divde {
    width: 100%;
    height: 1px;
    background: rgba(255, 255, 255, 0.418);
    margin-bottom: 15px;
}

#entryHolder{
    padding: 25px;
}

#feelings {
    margin-top: 10px;
}

#zip {
    margin-top: 10px;
}

.headline {
    display: flex;
    align-items: center;
    padding: 27px;
    font-weight: bolder;
}
#icon {
    color: #ffffff;
    font-size: 30px;
    margin-right: 10px;
}

.icon{
    color: #ffffff;
    font-size: 20px;
    margin-right: 15px;
}

.title{
    font-weight: bolder;
}

/*  Basic Styling To Override Default For Basic HTML Elements */
.label{
    display:block;
}

input{
    display:block;
    height: 60px;
    border-radius: 33px;
    width: 100%;
    padding: 25px;
    background:#02031b;
    color: #ffffff;
    box-shadow: 0 0px 40px #9aaacf20;
    font-size: 15px;
    border: none;
}

textarea{
    border: none;
    padding: 25px;
    width: 100%;
    border-radius: 33px;
    box-shadow: 0 0px 40px #9aaacf20;
    background:#02031b;
    color: #ffffff;
    font-size: 15px;
}

button{
    height: 100px;
    margin: 25px;
    border-radius: 33px;
    background: #02031b;
    color: #ffffff;
    font-size: 26px;
    font-weight: bolder;
    border: none;
    box-shadow: 0 0px 40px #9aaacf20;
    cursor: pointer;
    transition: ease-in-out .1s;
}
button:hover {
    background: #0066ff;
}

h1{
    font-size: 25px;
    font-weight: bolder;
}

/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
/* Style for Placeholder Text*/
::placeholder { /* Firefox, Chrome, Opera */ 
    color: #ffffff50; 

} 
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */ 
    color: #ffffff50; 

} 
  
::-ms-input-placeholder { /* Microsoft Edge */ 
    color: #ffffff50; 

} 